.root {
  display: flex;
  flex-wrap: wrap;
}

.formContainer {
  flex-grow: 1;
  max-width: 19rem;
  height: max-content;
  background-color: #caab7d;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.someDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
}

.kingdomFormDiv input,
.groupFormDiv input,
.heroFormDiv input {
  width: 6.5rem;
  height: 1.5rem;
}

.groupFormDiv select,
.heroFormDiv select {
  width: 7rem;
  height: 1.5rem;
}

.groupsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 24rem;
  background-color: #634533;
  flex-grow: 4;
}

.newGroupDiv {
  flex: 1 0 30%;
  margin: 0.2rem;
  background-color: #d0bb44;
  text-align: center;
}

.heroesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.heroesDiv > * {
  flex: 1 0 25%;
  margin: 0.5rem;
}

h3,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  width: 4rem;
  height: 1.5rem;
}
